<div th:fragment="common-jumbotron">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">QR Code Generator</h1>
            <h3>Spring Boot QR Code Generator based on <a href="https://github.com/zxing/zxing"
                                                          target="_blank">ZXing ("Zebra Crossing")</a>
                barcode
                scanning library.</h3>
            <p class="col-md-8 fs-4">Generate your QR code..</p>
        </div>
    </div>
</div>
