<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-head">
    <meta charset="UTF-8"/>
    <title>QR Code Generator</title>
    <meta content="IE=11" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css} "/>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <link rel="stylesheet" th:src="@{/webjars/font-awesome/5.15.1/css/all.min.css}" type="text/css"/>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/font-awesome/5.15.1/js/all.min.js}"></script>
</head>
<body>
<header th:fragment="common-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="navbar-header">
            <a class="navbar-brand" data-placement="top" data-toggle="tooltip" href="/" title="zur &Uuml;bersicht">
                <p class="navbar-text" th:text="${titleMessage}">...</p>
            </a>

        </div>
        <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 justify-content-end">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Overview <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/qr-code-url">URL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/qr-code-email">EMail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/qr-code-phone">Phone</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/qr-code-sms">SMS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/qr-code-vcard">VCard</a>
                </li>
            </ul>
            <!--<span class="navbar-text">Navbar text with an inline element</span>-->
        </div>
    </nav>
</header>
<div th:fragment="common-messages">
    <div th:if="${errorMessage != null}">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <span th:text="${errorMessage}">...</span>
            <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <div th:if="${successMessage != null}">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <span th:text="${successMessage}">...</span>
            <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
<div th:fragment="common-jumbotron">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">QR Code Generator</h1>
            <p class="lead">Spring Boot QR Code Generator based on <a href="https://github.com/zxing/zxing"
                                                                      target="_blank">ZXing ("Zebra Crossing")</a>
                barcode
                scanning library.</p>
        </div>
    </div>
</div>
<div th:fragment="qr-code-url">
    <div th:if="${qrCodeUrl != null}">
        <div class="row">
            <div class="col-md-10">
                <div class="card" style="margin-top: 20px;">
                    <div class="card-header">
                        <h5>Generate QR Code for URL</h5>
                    </div>
                    <div class="card-body">
                        <form id="qrCodeUrl" method="POST" name="qrCodeUrl"
                              th:action="@{/process/url}" th:object="${qrCodeUrl}">
                            <div class="form-group">
                                <label for="urlToBeEncoded">URL:</label>
                                <input autofocus="true" class="form-control" form="qrCodeUrl"
                                       id="urlToBeEncoded"
                                       name="urlToBeEncoded"
                                       th:field="*{urlToBeEncoded}"
                                       type="text"/>
                                </input>
                                <small class="form-text text-muted-error" id="urlToBeEncodedHelp"
                                       th:errors="*{urlToBeEncoded}" th:if="${#fields.hasErrors('urlToBeEncoded')}"/>

                            </div>
                            <button class="btn btn-primary btn-block" data-placement="top" data-toggle="tooltip"
                                    title="generate QR Code">
                                Generate &raquo;
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="qr-code-email">
    <div th:if="${qrCodeEmail != null}">
        <div class="row">
            <div class="col-md-10">
                <div class="card" style="margin-top: 20px;">
                    <div class="card-header">
                        <h5>Generate QR Code for EMail</h5>
                    </div>
                    <div class="card-body">
                        <form id="qrCodeEmail" method="POST" name="qrCodeEmail"
                              th:action="@{/process/email}" th:object="${qrCodeEmail}">
                            <div class="form-group">
                                <label for="emailToBeEncoded">EMail:</label>
                                <input autofocus="true" class="form-control" form="qrCodeEmail"
                                       id="emailToBeEncoded"
                                       name="emailToBeEncoded"
                                       th:field="*{emailToBeEncoded}"
                                       type="text"/>
                                </input>
                                <small class="form-text text-muted-error" id="emailToBeEncodedHelp"
                                       th:errors="*{emailToBeEncoded}"
                                       th:if="${#fields.hasErrors('emailToBeEncoded')}"/>
                            </div>
                            <div class="form-group">
                                <label for="subjectToBeEncoded">Subject:</label>
                                <input autofocus="true" class="form-control" form="qrCodeEmail"
                                       id="subjectToBeEncoded"
                                       name="subjectToBeEncoded"
                                       th:field="*{subjectToBeEncoded}"
                                       type="text"/>
                                </input>
                                <small class="form-text text-muted-error" id="subjectToBeEncodedHelp"
                                       th:errors="*{subjectToBeEncoded}"
                                       th:if="${#fields.hasErrors('subjectToBeEncoded')}"/>
                            </div>
                            <button class="btn btn-primary btn-block" data-placement="top" data-toggle="tooltip"
                                    title="generate QR Code">
                                Generate &raquo;
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="qr-code-sms">
    <div th:if="${qrCodeSms != null}">
        <div class="row">
            <div class="col-md-10">
                <div class="card" style="margin-top: 20px;">
                    <div class="card-header">
                        <h5>Generate QR Code for SMS</h5>
                    </div>
                    <div class="card-body">
                        <form id="qrCodeSms" method="POST" name="qrCodeSms"
                              th:action="@{/process/sms}" th:object="${qrCodeSms}">
                            <div class="form-group">
                                <label for="phoneToBeEncoded">Phone:</label>
                                <input autofocus="true" class="form-control" form="qrCodeSms"
                                       id="phoneToBeEncoded"
                                       name="phoneToBeEncoded"
                                       th:field="*{phoneToBeEncoded}"
                                       type="text"/>
                                </input>
                                <small class="form-text text-muted-error" id="phoneToBeEncodedHelp"
                                       th:errors="*{phoneToBeEncoded}"
                                       th:if="${#fields.hasErrors('phoneToBeEncoded')}"/>
                            </div>
                            <div class="form-group">
                                <label for="messageToBeEncoded">Message:</label>
                                <input autofocus="true" class="form-control" form="qrCodeSms"
                                       id="messageToBeEncoded"
                                       name="messageToBeEncoded"
                                       th:field="*{messageToBeEncoded}"
                                       type="text"/>
                                </input>
                                <small class="form-text text-muted-error" id="messageToBeEncodedHelp"
                                       th:errors="*{messageToBeEncoded}"
                                       th:if="${#fields.hasErrors('messageToBeEncoded')}"/>
                            </div>
                            <button class="btn btn-primary btn-block" data-placement="top" data-toggle="tooltip"
                                    title="generate QR Code">
                                Generate &raquo;
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="qr-code-phone">
    <div th:if="${qrCodePhone != null}">
        <div class="row">
            <div class="col-md-10">
                <div class="card" style="margin-top: 20px;">
                    <div class="card-header">
                        <h5>Generate QR Code for Phone Number</h5>
                    </div>
                    <div class="card-body">
                        <form id="qrCodePhone" method="POST" name="qrCodePhone"
                              th:action="@{/process/phone}" th:object="${qrCodePhone}">
                            <div class="form-group">
                                <label for="phoneToBeEncoded">Phone Number:</label>
                                <input autofocus="true" class="form-control" form="qrCodePhone"
                                       id="phoneToBeEncoded"
                                       name="phoneToBeEncoded"
                                       th:field="*{phoneToBeEncoded}"
                                       type="text"/>
                                </input>
                                <small class="form-text text-muted-error" id="phoneToBeEncodedHelp"
                                       th:errors="*{phoneToBeEncoded}"
                                       th:if="${#fields.hasErrors('phoneToBeEncoded')}"/>
                            </div>
                            <button class="btn btn-primary btn-block" data-placement="top" data-toggle="tooltip"
                                    title="generate QR Code">
                                Generate &raquo;
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="qr-code-vcard">
    <div th:if="${qrCodeVCard != null}">
        <div class="row">
            <div class="col-md-10">
                <div class="card" style="margin-top: 20px;">
                    <div class="card-header">
                        <h5>Generate QR Code for Address Card</h5>
                    </div>
                    <div class="card-body">
                        <form id="qrCodeVCard" method="POST" name="qrCodeVCard"
                              th:action="@{/process/vcard}" th:object="${qrCodeVCard}">
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input autofocus="true" class="form-control" form="qrCodeVCard" id="name"
                                               name="name"
                                               placeholder="Name"
                                               th:field="*{name}"
                                               type="text"/>
                                        </input>
                                        <small class="form-text text-muted-error" id="nameHelp"
                                               th:errors="*{name}" th:if="${#fields.hasErrors('name')}"/>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="lastname">Lastname</label>
                                        <input class="form-control" form="qrCodeVCard" id="lastname" name="lastname"
                                               placeholder="Lastname"
                                               th:field="*{lastname}"
                                               type="text"/>
                                        </input>
                                        <small class="form-text text-muted-error" id="lastnameHelp"
                                               th:errors="*{lastname}" th:if="${#fields.hasErrors('lastname')}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="organisation">Organisation</label>
                                        <input class="form-control" form="qrCodeVCard" id="organisation"
                                               name="organisation"
                                               placeholder="Organisation"
                                               th:field="*{organisation}"
                                               type="text"/>
                                        </input>
                                        <small class="form-text text-muted-error" id="organisationHelp"
                                               th:errors="*{organisation}"
                                               th:if="${#fields.hasErrors('organisation')}"/>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="title">Title</label>
                                        <input class="form-control" form="qrCodeVCard" id="title" name="title"
                                               placeholder="Title"
                                               th:field="*{title}"
                                               type="text"/>
                                        </input>
                                        <small class="form-text text-muted-error" id="titleHelp"
                                               th:errors="*{title}" th:if="${#fields.hasErrors('title')}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="email1">EMail</label>
                                        <input class="form-control" form="qrCodeVCard" id="email1" name="email1"
                                               placeholder="EMail"
                                               th:field="*{email1}"
                                               type="text"/>
                                        </input>
                                        <small class="form-text text-muted-error" id="email1Help"
                                               th:errors="*{email1}" th:if="${#fields.hasErrors('email1')}"/>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="phone1">Phone</label>
                                        <input class="form-control" form="qrCodeVCard" id="phone1" name="phone1"
                                               placeholder="Phone"
                                               th:field="*{phone1}"
                                               type="text"/>
                                        </input>
                                        <small class="form-text text-muted-error" id="phone1Help"
                                               th:errors="*{phone1}" th:if="${#fields.hasErrors('phone1')}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="phone1Type">Phone Type</label>
                                        <select class="form-control" id="phone1Type">
                                            <option selected>WORK</option>
                                            <option>HOME</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col">

                                    <div class="form-group">
                                        <label for="adress1Street">Street</label>
                                        <input class="form-control" form="qrCodeVCard" id="adress1Street"
                                               name="adress1Street"
                                               placeholder="Street"
                                               th:field="*{adress1Street}"
                                               type="text"/>
                                        </input>
                                        <small class="form-text text-muted-error" id="adress1StreetHelp"
                                               th:errors="*{adress1Street}"
                                               th:if="${#fields.hasErrors('adress1Street')}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="adress1Locality">Locality</label>
                                        <input class="form-control" form="qrCodeVCard" id="adress1Locality"
                                               name="adress1Locality"
                                               placeholder="Locality"
                                               th:field="*{adress1Locality}"
                                               type="text"/>
                                        </input>
                                        <small class="form-text text-muted-error" id="adress1LocalityHelp"
                                               th:errors="*{adress1Locality}"
                                               th:if="${#fields.hasErrors('adress1Locality')}"/>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="adress1Region">Region</label>
                                        <input class="form-control" form="qrCodeVCard" id="adress1Region"
                                               name="adress1Region"
                                               placeholder="Region"
                                               th:field="*{adress1Region}"
                                               type="text"/>
                                        </input>
                                        <small class="form-text text-muted-error" id="adress1RegionHelp"
                                               th:errors="*{adress1Region}"
                                               th:if="${#fields.hasErrors('adress1Region')}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="adress1PostalCode">Postal Code</label>
                                        <input class="form-control" form="qrCodeVCard" id="adress1PostalCode"
                                               name="adress1PostalCode"
                                               placeholder="Postal Code"
                                               th:field="*{adress1PostalCode}"
                                               type="text"/>
                                        </input>
                                        <small class="form-text text-muted-error" id="adress1PostalCodeHelp"
                                               th:errors="*{adress1PostalCode}"
                                               th:if="${#fields.hasErrors('adress1PostalCode')}"/>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="adress1Country">Country</label>
                                        <input class="form-control" form="qrCodeVCard" id="adress1Country"
                                               name="adress1Country"
                                               placeholder="Country"
                                               th:field="*{adress1Country}"
                                               type="text"/>
                                        </input>
                                        <small class="form-text text-muted-error" id="adress1CountryHelp"
                                               th:errors="*{adress1Country}"
                                               th:if="${#fields.hasErrors('adress1Country')}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="adress1Type">Address Type</label>
                                        <select class="form-control" id="adress1Type">
                                            <option selected>WORK</option>
                                            <option>HOME</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block" data-placement="top" data-toggle="tooltip"
                                    title="generate QR Code">
                                Generate &raquo;
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="result">
    <div class="row">
        <div class="col-md-10">
            <div class="card" style="margin-top: 20px;">
                <div class="card-header">
                    <h5>Your generated QR Code</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div th:if="${image != null}">
                                <img class="info" th:attr="src=@{${image}}"/>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div th:if="${text != null}">
                                <span th:text="${text}">...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer" th:fragment="common-footer">
    <div class="container">
        <div th:if="${appInfo != null}">
            <span class="text-center align-middle" th:text="${appInfo}">...</span>
        </div>
    </div>
</footer>
</body>
</html>