<div th:fragment="qr-code-phone">
    <div th:if="${qrCodePhone != null}">
        <div class="row">
            <div class="col-md-10">
                <div class="card" style="margin-top: 20px;">
                    <div class="card-header">
                        <h5>Generate QR code for phone number</h5>
                    </div>
                    <div class="card-body">
                        <form class="form-floating" id="qrCodePhone" method="POST" name="qrCodePhone"
                              th:action="@{/process/phone}" th:object="${qrCodePhone}">
                            <div class="form-floating mb-4">
                                <input autofocus="true" class="form-control is-invalid" form="qrCodePhone"
                                       id="phoneToBeEncoded"
                                       name="phoneToBeEncoded"
                                       required
                                       th:field="*{phoneToBeEncoded}"
                                       type="text"/>
                                <label for="phoneToBeEncoded">Phone Number:</label>
                                <small class="form-text text-muted-error" id="phoneToBeEncodedHelp"
                                       th:errors="*{phoneToBeEncoded}"
                                       th:if="${#fields.hasErrors('phoneToBeEncoded')}"></small>
                            </div>
                            <button class="btn btn-primary btn-block" data-placement="top" data-toggle="tooltip"
                                    title="generate QR Code">
                                Generate &raquo;
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
