<div th:fragment="qr-code-facetime">
    <div th:if="${qrCodeFacetime != null}">
        <div class="row">
            <div class="col-md-10">
                <div class="card" style="margin-top: 20px;">
                    <div class="card-header">
                        <h5>Generate QR Code for Facetime number</h5>
                    </div>
                    <div class="card-body">
                        <form class="form-floating" id="qrCodeFacetime" method="POST" name="qrCodeFacetime"
                              th:action="@{/process/facetime}" th:object="${qrCodeFacetime}">
                            <div class="form-floating mb-4">
                                <input autofocus="true" class="form-control is-invalid" form="qrCodeFacetime"
                                       id="facetimeToBeEncoded"
                                       name="facetimeToBeEncoded"
                                       required
                                       th:field="*{facetimeToBeEncoded}"
                                       type="text"/>
                                <label for="facetimeToBeEncoded">Phone Number:</label>
                                <small class="form-text text-muted-error" id="facetimeToBeEncodedHelp"
                                       th:errors="*{facetimeToBeEncoded}"
                                       th:if="${#fields.hasErrors('facetimeToBeEncoded')}"></small>
                            </div>
                            <button class="btn btn-primary btn-block" data-placement="top" data-toggle="tooltip"
                                    title="generate QR Code">
                                Generate &raquo;
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
