<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common-head :: common-head}"></head>
<body>
<div th:replace="~{fragments/common-header :: common-header}"/>
<main role="main">
    <div class="container" style="margin-top: 20px;">
        <div th:replace="~{fragments/common-messages :: common-messages}"/>

        <div class="row">
            <div class="col-md-12">
                <div th:replace="~{fragments/common-jumbotron :: common-jumbotron}"/>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="card text-center shadow col-md-5" style="margin: 20px;">
                <div class="landing-icon text-center" style="margin-top:10px;">
                    <i class="far fa-bookmark fa-4x" style="margin-top:10px;"></i>
                </div>
                <div class="card-body">
                    <h4 class="card-title">URL</h4>
                    <p class="card-text">Generate a QR Code with an URL.</p>
                    <a class="btn btn-primary" data-placement="top" data-toggle="tooltip" href="/qr-code-url"
                       role="button"
                       title="Generate">Generate &raquo;</a>
                </div>
            </div>
            <div class="card text-center shadow col-md-5" style="margin: 20px;">
                <div class="landing-icon text-center" style="margin-top:10px;">
                    <i class="fas fa-at fa-4x" style="margin-top:10px;"></i>
                </div>
                <div class="card-body">
                    <h4 class="card-title">EMail</h4>
                    <p class="card-text">Generate a QR Code with an EMail Address.</p>
                    <a class="btn btn-primary" data-placement="top" data-toggle="tooltip" href="/qr-code-email"
                       role="button"
                       title="Generate">Generate &raquo;</a>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="card text-center shadow col-md-5" style="margin: 20px;">
                <div class="landing-icon text-center" style="margin-top: 10px;">
                    <i class="fas fa-phone fa-4x" style="margin-top:10px;"></i>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Phone</h4>
                    <p class="card-text">Generate a QR Code with a Phone Number.</p>
                    <a class="btn btn-primary" data-placement="top" data-toggle="tooltip" href="/qr-code-phone"
                       role="button"
                       title="Generate">Generate &raquo;</a>
                </div>
            </div>
            <div class="card text-center shadow col-md-5" style="margin: 20px;">
                <div class="landing-icon text-center" style="margin-top:10px;">
                    <i class="fas fa-comment fa-4x" style="margin-top:10px;"></i>
                </div>
                <div class="card-body">
                    <h4 class="card-title">SMS</h4>
                    <p class="card-text">Generate a QR Code with an SMS.</p>
                    <a class="btn btn-primary" data-placement="top" data-toggle="tooltip" href="/qr-code-sms"
                       role="button"
                       title="Generate">Generate &raquo;</a>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="card text-center shadow col-md-5" style="margin: 20px;">
                <div class="landing-icon text-center" style="margin-top:10px;">
                    <i class="fas fa-address-card fa-4x" style="margin-top:10px;"></i>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Adress Card</h4>
                    <p class="card-text">Generate a QR Code with an Address Card.</p>
                    <a class="btn btn-primary" data-placement="top" data-toggle="tooltip" href="/qr-code-vcard"
                       role="button"
                       title="Generate">Generate &raquo;</a>
                </div>
            </div>
            <div class="card text-center shadow col-md-5" style="margin: 20px;">
                <div class="landing-icon text-center" style="margin-top: 10px;">
                    <i class="fas fa-video fa-4x" style="margin-top:10px;"></i>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Facetime</h4>
                    <p class="card-text">Generate a QR Code with a Facetime Number.</p>
                    <a class="btn btn-primary" data-placement="top" data-toggle="tooltip" href="/qr-code-facetime"
                       role="button"
                       title="Generate">Generate &raquo;</a>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="card text-center shadow col-md-5" style="margin: 20px;">
                <div class="landing-icon text-center" style="margin-top:10px;">
                    <i class="fas fa-calendar-day fa-4x" style="margin-top:10px;"></i>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Calendar</h4>
                    <p class="card-text">Generate a QR Code with an Event.</p>
                    <a class="btn btn-primary" data-placement="top" data-toggle="tooltip" href="/qr-code-event"
                       role="button"
                       title="Generate">Generate &raquo;</a>
                </div>
            </div>
        </div>
    </div>
</main>
<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/font-awesome/6.5.1/js/all.min.js}"></script>
</body>
</html>