<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/tw-common-head :: tw-common-head}"></head>
<body class="bg-blue-200">
<div th:replace="~{fragments/tw-common-header :: tw-common-header}"></div>
<section class="m-4 rounded-lg border-2 bg-white p-4">
    <div class="mt-4 flex flex-col space-x-0 space-y-4 lg:flex-row lg:content-start lg:items-start lg:justify-start lg:space-x-4 lg:space-y-0">
        <div class="flex flex-col space-y-4 flex-1">
            <div th:replace="~{fragments/common-messages :: common-messages}"></div>
        </div>
    </div>
    <div class="mt-4 flex flex-col space-x-0 space-y-4 lg:flex-row lg:content-start lg:items-start lg:justify-start lg:space-x-4 lg:space-y-0">
        <div class="flex flex-col space-y-4 flex-1">
            <section
                    class="flex w-full max-w-[768px] items-center space-x-4 rounded-lg border-2 border-gray-300 bg-white p-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="inline-block h-[150px] w-[150px]" viewBox="0 0 512 512">
                    <path d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/>
                </svg>
                <div class="flex w-full flex-col">
                    <p class="mb-1 text-lg font-bold sm:text-2xl sm:text-base">Phone Number</p>
                    <p class="mb-4 text-sm tracking-wider sm:block">Generate a QR code with a phone number.</p>
                </div>
            </section>
            <section
                    class="flex w-full max-w-[768px] items-center space-x-4 rounded-lg border-2 border-gray-300 bg-white p-4">
                <form class="py-6"  id="qrCodePhone" method="POST" name="qrCodePhone" th:action="@{/process/phone}" th:object="${qrCodePhone}">
                    <label class="text-sm font-bold uppercase" for="phone">PHONE NUMBER *</label>
                    <input autofocus
                           class="my-2 w-full rounded-md border border-gray-400"
                           form="qrCodePhone"
                           id="phone"
                           name="phone"
                           required
                           th:field="*{phone}"
                           placeholder=""
                    />

                    <input
                            class="mt-4 hover:bg-blue-200 bg-pink-300 px-8 py-2 text-sm font-bold uppercase rounded-md hover:border-gray-600 focus:border-gray-800 focus:outline-none focus:ring-0 focus:border-pink-600"
                            type="submit"
                            id="url"
                            value="Generate"
                    />
                </form>
            </section>

        </div>
    </div>

</section>
<div th:replace="~{fragments/tw-common-bottom :: tw-common-bottom}"></div>
</body>
</html>