<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/tw-common-head :: tw-common-head}"></head>
<body class="bg-blue-200">
<div th:replace="~{fragments/tw-common-header :: tw-common-header}"></div>
<section class="m-4 rounded-lg border-2 bg-white p-4">
    <div class="mt-4 flex flex-col space-x-0 space-y-4 lg:flex-row lg:content-start lg:items-start lg:justify-start lg:space-x-4 lg:space-y-0">
        <div class="flex flex-col space-y-4 flex-1">
            <div th:replace="~{fragments/common-messages :: common-messages}"></div>
        </div>
    </div>
    <div class="mt-4 flex flex-col space-x-0 space-y-4 lg:flex-row lg:content-start lg:items-start lg:justify-start lg:space-x-4 lg:space-y-0">
        <div class="flex flex-col space-y-4 flex-1">
            <section
                    class="flex w-full max-w-[768px] items-center space-x-4 rounded-lg border-2 border-gray-300 bg-white p-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="inline-block h-[150px] w-[150px]" viewBox="0 0 448 512">
                    <path d="M128 0c17.7 0 32 14.3 32 32l0 32 128 0 0-32c0-17.7 14.3-32 32-32s32 14.3 32 32l0 32 48 0c26.5 0 48 21.5 48 48l0 48L0 160l0-48C0 85.5 21.5 64 48 64l48 0 0-32c0-17.7 14.3-32 32-32zM0 192l448 0 0 272c0 26.5-21.5 48-48 48L48 512c-26.5 0-48-21.5-48-48L0 192zm64 80l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm128 0l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zM64 400l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zm112 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16z"/></svg>
                <div class="flex w-full flex-col">
                    <p class="mb-1 text-lg font-bold sm:text-2xl sm:text-base">EMail</p>
                    <p class="mb-4 text-sm tracking-wider sm:block">Generate a QR code with an email address.</p>
                </div>
            </section>
            <section
                    class="flex w-full max-w-[768px] items-center space-x-4 rounded-lg border-2 border-gray-300 bg-white p-4">
                <form class="py-6" id="qrCodeEvent" method="POST" name="qrCodeEvent" th:action="@{/process/event}"
                      th:object="${qrCodeEvent}">

                    <label class="text-sm font-bold uppercase" for="summary">SUMMARY *</label>
                    <input autofocus
                           class="my-2 w-full rounded-md border border-gray-400"
                           form="qrCodeEvent"
                           id="summary"
                           name="summary"
                           required
                           th:field="*{summary}"
                           placeholder=""
                    />

                    <label class="text-sm font-bold uppercase" for="location">LOCATION</label>
                    <input class="my-2 w-full rounded-md border border-gray-400"
                           form="qrCodeEvent"
                           id="location"
                           name="location"
                           th:field="*{location}"
                           placeholder=""
                    />

                    <label class="text-sm font-bold uppercase" for="eventStart">EVENT START *</label>
                    <input class="my-2 w-full rounded-md border border-gray-400"
                           form="qrCodeEvent"
                           id="eventStart"
                           name="eventStart"
                           required
                           th:field="*{eventStart}"
                           placeholder=""
                           type="datetime-local"
                    />

                    <label class="text-sm font-bold uppercase" for="eventEnd">EVENT END</label>
                    <input class="my-2 w-full rounded-md border border-gray-400"
                           form="qrCodeEvent"
                           id="eventEnd"
                           name="eventEnd"
                           th:field="*{eventEnd}"
                           placeholder=""
                           type="datetime-local"
                    />

                    <input
                            class="mt-4 hover:bg-blue-200 bg-pink-300 px-8 py-2 text-sm font-bold uppercase rounded-md hover:border-gray-600 focus:outline-none focus:ring-0 focus:border-pink-600"
                            type="submit"
                            id="email"
                            value="Generate"
                    />
                </form>
            </section>

        </div>
    </div>

</section>
<div th:replace="~{fragments/tw-common-bottom :: tw-common-bottom}"></div>
</body>
</html>